[submodule "engine/deps/spdlog"]
	path = engine/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/deps/glfw"]
	path = engine/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/deps/imgui"]
	path = engine/deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/deps/glm"]
	path = engine/deps/glm
	url = https://github.com/g-truc/glm.git

[submodule "engine/deps/yaml-cpp"]
	path = engine/deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "engine/deps/ImGuizmo"]
	path = engine/deps/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git

[submodule "engine/deps/box2d"]
	path = engine/deps/box2d
	url = https://github.com/thecherno/box2d.git
